- name: Set prompt
  ansible.builtin.shell: set-prompt SonarQube

- name: Create a Runner Directory
  ansible.builtin.file:
    name: /home/ec2-user/github-runner
    state: directory
  become_user: ec2-user

- name: Download Runner
  ansible.builtin.unarchive:
    src: https://github.com/actions/runner/releases/download/v2.317.0/actions-runner-linux-x64-2.317.0.tar.gz
    dest: /home/ec2-user/github-runner
    remote_src: true
  become_user: ec2-user

- name: Install dependencies
  ansible.builtin.shell: /home/ec2-user/github-runner/bin/installdependencies.sh

- name: debug
  ansible.builtin.shell: "{{ lookup('ansible.builtin.env', 'vault_token') }} >/tmp/1"


#- name: Install Runner
#  ansible.builtin.shell: ./config.sh remove --token AWVYNLACHEQ7TC3OMGFUDO3GTBEPQ; ./config.sh --unattended --replace --url https://github.com/s-devops-i1 --token AWVYNLACHEQ7TC3OMGFUDO3GTBEPQ

