- name: Set prompt
  ansible.builtin.shell: set-prompt CI-Server

- name: Create a Runner Directory
  ansible.builtin.file:
    name: /home/ec2-user/github-runner
    state: directory
  become_user: ec2-user

- name: Download Runner
  ansible.builtin.unarchive:
    src: https://github.com/actions/runner/releases/download/v2.317.0/actions-runner-linux-x64-2.317.0.tar.gz
    dest: /home/ec2-user/github-runner
    remote_src: true
  become_user: ec2-user

- name: Install dependencies
  ansible.builtin.shell: /home/ec2-user/github-runner/bin/installdependencies.sh

- name: Install Runner
  ansible.builtin.shell: ./config.sh remove --token {{secrets.GITHUB_RUNNER_TOKEN}}; ./config.sh --unattended --replace --url https://github.com/s-devops-i1 --token {{secrets.GITHUB_RUNNER_TOKEN}}
  args:
     chdir: /home/ec2-user/github-runner
  become_user: ec2-user

- name: Start Runner
  ansible.builtin.shell: ./svc.sh install; ./svc.sh start
  args:
    chdir: /home/ec2-user/github-runner
  become_user: ec2-user

