- name: Install python-jenkins
  ansible.builtin.pip:
    name: python-jenkins
    executable: pip3.11

- name: Create job xml file
  ansible.builtin.template:
    src: jobs/mbranch.xml
    dest: /tmp/{{item}}.xml
  loop:
    - frontend
    - backend
  delegate_to: localhost

- name: Create Jobs
  community.general.jenkins_job:
   config: "{{ lookup('file', '/tmp/{{item}}.xml') }}"
   name: "{{item}}"
   password: "{{secrets.jenkins_password}}"
   url: http://jenkins-internal.shujathdevops.online:8080
   user: "{{secrets.jenkins_user}}"
  loop:
     - frontend
     - backend